@using Microsoft.AspNetCore.Identity
@inject SignInManager<Vdoflix.Web.Data.ApplicationUser> SignInManager
@inject UserManager<Vdoflix.Web.Data.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-sm btn-outline-light">Sign out</button>
    </form>
}
else
{
    <a class="btn btn-sm btn-outline-light" asp-controller="Account" asp-action="Login">Sign in</a>
}
